In [1]:
import pandas as pd

In [39]:
# general practice
student_data = [[1, 15], [2, 11], [3, 11], [4, 20]]

df = pd.DataFrame(student_data,)
# df.rename(columns={0:'student_id', 1:'age'}) # this is alternate way
df.columns = ["student_id", "age"]
df

   student_id  age
0           1   15
1           2   11
2           3   11
3           4   20

In [65]:
# 1. Create a DataFrame from List

def createDataframe(student_data) -> pd.DataFrame:
    column_names = ['student_id','age']
    df = pd.DataFrame(student_data, columns = column_names)
    return df

# student_data = [[1, 15], [2, 11], [3, 11], [4, 20]]
# createDataframe(student_data)

   student_id  age
0           1   15
1           2   11
2           3   11
3           4   20